body,
html {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.row {
  max-width: 1740px;
  margin: 0 auto;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.w-33 {
  width: calc(100% / 3);
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.post-timestamp {
  color: $gray;

  font-size: 12px;
}
.post-author {
  position: relative;
  margin-right: 30px;
}
.post-author:after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 0 15px;
  vertical-align: middle;
  position: absolute;
  background-color: $gray;
  top: 50%;
  transform: translateY(-50%);
}

.post-label {
  position: absolute;
  top: 20px;
  left: 20px;
  background: $gradient;
  font-size: 0.75rem;
  border-radius: 30px;
  color: #fff;
  padding: 5px 10px;
}

.author__name {
  font-size: 1.9rem;
  font-weight: 700;
  color: $bluedark;
  .dot {
    font-size: 2.5rem;
    color: $pink;
  }
}

.author__desc {
  color: $gray;
  font-size: 13px;
}

.social {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  &__item:first-child {
    padding-left: 0;
  }
  &__item {
    padding: 0 10px;
  }
}

h3 {
  color: $bluedark;
  text-transform: capitalize;
}

.wave {
  padding: 20px 0;
}

.btn {
  background: $gradient;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  font-size: 12px;
}
