@import "_variable";
@import "_global";
@import "_fonts";
@import "_reset";
@import "_profile";
@import "_header";
@import "_slider";
@import "_main";
@import "_sidebar";

.instagram-widget {
  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    padding-bottom: 50px;
    border-bottom: 1px solid $lightgray;
    position: relative;
    .instagram-link {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      padding: 15px 35px;
      border-radius: 30px;
      background: $gradient;
      color: #fff;
      font-size: 15px;
      line-height: 1;
    }
    .instagram-post {
      border-radius: 10px;
      overflow: hidden;
    }
    .instagram-image {
      max-width: 100%;
      height: auto;
      max-height: 185px;
    }
  }
}

#footer {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
    span {
      color: $gray;
      font-size: 13px;
    }
    .back-to-top {
      padding: 10px 20px;
      line-height: 1;
      font-size: 12px;
      color: $gray;
      border: 1px solid $lightgray;
      border-radius: 30px;
      i {
        margin-right: 5px;
      }
    }
  }
}

// Responsive
@media screen and (max-width: 1025px) {
  .profile {
    padding: 0 20px;
  }
  .container,
  footer {
    padding: 0 10px;
  }
  .slider {
    grid-template-columns: repeat(4, 1fr);

    .slider__post:last-child {
      display: none;
    }
  }
  .author__desc {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    grid-template-columns: repeat(3, 1fr);
    .slider__post:last-child,
    .slider__post:nth-child(1) {
      display: none;
    }
  }
  .main {
    .container {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }
  .heading {
    display: none;
  }
  .paginate {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 425px) {
  .profile .container {
    flex-direction: column;
    justify-content: center;
    .social {
      display: none;
    }
    .author,
    .tool {
      width: 100%;
    }
    .tool {
      justify-content: space-between;
      margin-top: 30px;
    }
  }

  .slider,
  .blogposts-wrapper {
    grid-template-columns: 1fr !important;
  }
  .slider__post:not(:nth-child(3)) {
    display: none;
  }
  .instagram-widget .container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    .instagram-link {
      font-size: 14px;
      white-space: nowrap;
    }
    .instagram-post {
      justify-self: stretch;
      height: 185px;
      img {
        max-height: none;
      }
    }
  }
  #footer .container {
    flex-direction: column;
    span.w-33 {
      width: 100%;
      text-align: center;
    }
    .social {
      width: 100%;
      padding: 25px 0;
      justify-content: center;
    }
  }
}
